* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%; 
  overflow: hidden;
}

.coletaveis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 3rem;
  height: 100%;
  width: 30%;
}

.marcador-de-tempo {
  height: 5rem;
  width: 5rem;
  box-shadow: 0 0 20px 10px #531286; 
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.grimorio-sombrio {
  height: 5rem;
  width: 5rem;
  box-shadow: 0 0 20px 10px #3EDD86; 
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.anel-pristino {
  height: 5rem;
  width: 5rem;
  box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.8); 
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.anel-pristino:hover, .grimorio-sombrio:hover, .marcador-de-tempo:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.main-header {
  display: flex;
  flex-direction: row;
  height: 10%;
  background-color: #a1a1aa; 
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-section-content {
  background-image: url("../../assets/images/background-paper.png");
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.section-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-left: 0.2rem solid #000000;
  border-right: 0.2rem solid #000000;
  background-color: #A5A5AB; 
  padding: 1rem; 
  width: 100%;
}

.attack-button {
  margin-top: 0.5rem;
}

.logs-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-image: url("../../assets/images/background-paper.png");
  border: 2rem solid;
  border-image-source: url('/assets/images/floral-border.png');
  border-image-slice: 150 200; 
  border-image-repeat: round;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
 }

 .tooltip {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  width: 25%;
  height: 25rem;
}

.shelf-craft {
  display: flex;
  width: 50%;
  height: 25rem;
  justify-content: center;
  align-items: center;
}

.shelf-craft-cell {
  display: flex;
  width: 7rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid #00000069;
  background-image: url('/assets/images/header-background.png'); 
  background-size: cover; 
  background-position: center;
}

.shelf-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  border: 0.4rem solid #00000069;
  cursor: pointer;
  background-image: url('/assets/images/header-background.png');
  background-size: cover; 
  background-position: center; 
}

.shelf-cell.selected {
  border-color: #ffcc0080; 
  background-color: rgba(255, 204, 0, 0.3); 
  opacity: 0.9; 
}

.shelf-cell img {
  max-width: 100%;
  max-height: 100%;
}

.custom-tooltip {
  background-color: #333; 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
  .main-header {
      font-size: 1.75rem;
      padding: 2.5%;
  }

  .main-section-content {
      height: auto;
      border-radius: 1rem;
  }

  .logs-content {
      height: auto;
      margin-top: 1rem;
      flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .main-header {
      font-size: 1.5rem;
      padding: 2%;
  }

  .main-section-content {
      height: auto;
      border-radius: 0.75rem;
  }

  .logs-content {
      height: auto;
      margin-top: 0.75rem;
      flex-grow: 1;
  }
}