.first-screen {
  display: flex;
  flex-direction: column;
  padding-top: 92px; 
  height: 100vh; 

}

.carregamento {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  width: 100vw;
  background-color: #000000;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Outfit', 'Helvetica'
}

.layout-container {
  display: flex;
  flex-direction: row;
  height: 100%; 
  width: 100%; 
}

@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }
}
