body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.tela-inicial {
  background-image: url("../../assets/images/background_menu.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100vw;
  box-sizing: border-box;
  position: relative; 
 }

.container-inicial {
  background: transparent;
  margin-top: 10%;
  opacity: 85%;
  width: 100%;
  max-width: 90rem; 
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yin-yang-inicial {
  width: 18.75rem;
  height: 18.75rem; 
  margin-bottom: 1.25rem; 
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.text-link {
  color: #FFFFFF;;
  font-family: "Outfit", Helvetica;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.625rem 0; 
  cursor: pointer;
  text-align: center;
}

.arrow-circle-right {
  width: 3.125rem;
  height: 3.125rem; 
  cursor: pointer;
  transition: transform 0.2s;
}

.arrow-circle-right:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container-inicial {
    padding: 1rem; 
  }

  .yin-yang-inicial {
    width: 12.5rem; 
    height: 12.5rem; 
  }

  .arrow-circle-left,
  .arrow-circle-right {
    width: 2rem;
    height: 2rem;
  }
}